{% extends "base.html" %}
{% block title %} Book an activity {% endblock %}
{% block header %} Book an activity {% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="activites">
        {% for organise_activity in activites %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{organise_activity.activity_name}}</h5>
                <p class="card-text">{{organise_activity.activity_time}}</p>
                <p class="card-text">{{organise_activity.activity_date}}</p>
                <a href="#" class="btn btn-primary">Book Activity</a>
                </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}