{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block header %} Home {% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div id="homeCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active" id="image1">
        <img src="{{ url_for('static',filename='images/image1.jpg')}}" class="image1 d-block w-100" alt="...">
      </div>
      <div class="carousel-item" id="image2">
        <img src="{{ url_for('static',filename='images/image2.webp')}}" class="image2 d-block w-100" alt="...">
      </div>
      <div class="carousel-item" id="image3">
        <img src="{{ url_for('static',filename='images/image3.webp')}}" class="image3 d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<script>
    let user_id = '{{ user.id }}';
</script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-messaging.js"></script>
<script
    src="{{ url_for('static', filename='messaging.js') }}"
    type="application/javascript">
</script>
{% endif %}
{% endblock %}